<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-inst..." xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web..." id="WebApp_ID" version="3.0">

<servlet>

	<servlet-name>AddUser</servlet-name>
	<servlet-class>com.suwani.servlet.AddUser</servlet-class>

</servlet>

<servlet-mapping>

	<servlet-name>AddUser</servlet-name>
	<url-pattern>/addus</url-pattern>

</servlet-mapping>


<servlet>

	<servlet-name>LoginUser</servlet-name>
	<servlet-class>com.suwani.servlet.LoginUser</servlet-class>

</servlet>

<servlet-mapping>

	<servlet-name>LoginUser</servlet-name>
	<url-pattern>/loginu</url-pattern>

</servlet-mapping>


<servlet>

	<servlet-name>Logout</servlet-name>
	<servlet-class>com.suwani.servlet.Logout</servlet-class>

</servlet>

<servlet-mapping>

	<servlet-name>Logout</servlet-name>
	<url-pattern>/logou</url-pattern>

</servlet-mapping>


<servlet>

	<servlet-name>DashboardStats</servlet-name>
	<servlet-class>com.suwani.servlet.DashboardStats</servlet-class>

</servlet>

<servlet-mapping>

	<servlet-name>DashboardStats</servlet-name>
	<url-pattern>/dashboardSt</url-pattern>

</servlet-mapping>

<servlet>

	<servlet-name>AdminUsers</servlet-name>
	<servlet-class>com.suwani.servlet.AdminUsers</servlet-class>

</servlet>

<servlet-mapping>

	<servlet-name>AdminUsers</servlet-name>
	<url-pattern>/adminusers</url-pattern>

</servlet-mapping>

<servlet>

	<servlet-name>UpdateUser</servlet-name>
	<servlet-class>com.suwani.servlet.UpdateUser</servlet-class>

</servlet>

<servlet-mapping>

	<servlet-name>UpdateUser</servlet-name>
	<url-pattern>/updateuse</url-pattern>

</servlet-mapping>

<servlet>

	<servlet-name>AdminUpdateUsers</servlet-name>
	<servlet-class>com.suwani.servlet.AdminUpdateUsers</servlet-class>

</servlet>

<servlet-mapping>

	<servlet-name>AdminUpdateUsers</servlet-name>
	<url-pattern>/adminupdateusss</url-pattern>

</servlet-mapping>

<servlet>

	<servlet-name>DeleteUser</servlet-name>
	<servlet-class>com.suwani.servlet.DeleteUser</servlet-class>

</servlet>

<servlet-mapping>

	<servlet-name>DeleteUser</servlet-name>
	<url-pattern>/deleteuse</url-pattern>

</servlet-mapping>

<servlet>

	<servlet-name>AdminDeleteUser</servlet-name>
	<servlet-class>com.suwani.servlet.AdminDeleteUser</servlet-class>

</servlet>

<servlet-mapping>

	<servlet-name>AdminDeleteUser</servlet-name>
	<url-pattern>/admindeleteuse</url-pattern>

</servlet-mapping>

<servlet>

	<servlet-name>AddDoctor</servlet-name>
	<servlet-class>com.suwani.servlet.AddDoctor</servlet-class>

</servlet>

<servlet-mapping>

	<servlet-name>AddDoctor</servlet-name>
	<url-pattern>/adddoc</url-pattern>

</servlet-mapping>

<servlet>

	<servlet-name>adminDoctors</servlet-name>
	<servlet-class>com.suwani.servlet.adminDoctors</servlet-class>

</servlet>

<servlet-mapping>

	<servlet-name>adminDoctors</servlet-name>
	<url-pattern>/admindoc</url-pattern>

</servlet-mapping>

<servlet>

	<servlet-name>AdminUpdateDoctor</servlet-name>
	<servlet-class>com.suwani.servlet.AdminUpdateDoctor</servlet-class>

</servlet>

<servlet-mapping>

	<servlet-name>AdminUpdateDoctor</servlet-name>
	<url-pattern>/adminupdatedoc</url-pattern>

</servlet-mapping>

<servlet>

	<servlet-name>AdminDeleteDoctor</servlet-name>
	<servlet-class>com.suwani.servlet.AdminDeleteDoctor</servlet-class>

</servlet>

<servlet-mapping>

	<servlet-name>AdminDeleteDoctor</servlet-name>
	<url-pattern>/admindeletedoc</url-pattern>

</servlet-mapping>

<servlet>

	<servlet-name>AddClinic</servlet-name>
	<servlet-class>com.suwani.servlet.AddClinic</servlet-class>

</servlet>

<servlet-mapping>

	<servlet-name>AddClinic</servlet-name>
	<url-pattern>/addclinic</url-pattern>

</servlet-mapping>

<servlet>

	<servlet-name>AdminClinic</servlet-name>
	<servlet-class>com.suwani.servlet.AdminClinic</servlet-class>

</servlet>

<servlet-mapping>

	<servlet-name>AdminClinic</servlet-name>
	<url-pattern>/adminclinic</url-pattern>

</servlet-mapping>

<servlet>

	<servlet-name>ClinicImage</servlet-name>
	<servlet-class>com.suwani.servlet.ClinicImage</servlet-class>

</servlet>

<servlet-mapping>

	<servlet-name>ClinicImage</servlet-name>
	<url-pattern>/clinicimage</url-pattern>

</servlet-mapping>

<servlet>

	<servlet-name>AppointmentReadServlet</servlet-name>
	<servlet-class>com.suwani.servlet.AppointmentReadServlet</servlet-class>

</servlet>

<servlet-mapping>

	<servlet-name>AppointmentReadServlet</servlet-name>
	<url-pattern>/appointmentreadservlet</url-pattern>

</servlet-mapping>

<servlet>

	<servlet-name>AppointmentServlet</servlet-name>
	<servlet-class>com.suwani.servlet.AppointmentServlet</servlet-class>

</servlet>

<servlet-mapping>

	<servlet-name>AppointmentServlet</servlet-name>
	<url-pattern>/appointmentservlet</url-pattern>

</servlet-mapping>

<servlet>

	<servlet-name>UpdateAppointmentServlet</servlet-name>
	<servlet-class>com.suwani.servlet.UpdateAppointmentServlet</servlet-class>

</servlet>

<servlet-mapping>

	<servlet-name>UpdateAppointmentServlet</servlet-name>
	<url-pattern>/updateappointmentservlet</url-pattern>

</servlet-mapping>

<servlet>

	<servlet-name>updateServlet</servlet-name>
	<servlet-class>com.suwani.servlet.updateServlet</servlet-class>

</servlet>

<servlet-mapping>

	<servlet-name>updateServlet</servlet-name>
	<url-pattern>/updateservlet</url-pattern>

</servlet-mapping>

<servlet>

	<servlet-name>DeleteAppointmentServlet</servlet-name>
	<servlet-class>com.suwani.servlet.DeleteAppointmentServlet</servlet-class>

</servlet>

<servlet-mapping>

	<servlet-name>DeleteAppointmentServlet</servlet-name>
	<url-pattern>/deleteappointmentservlet</url-pattern>

</servlet-mapping>

</web-app> 